
/* 
    General Styles
*/
html body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#character-info {
    font-size: 20px;
}

.custom-card{
    min-height: 350px;
    min-width: 18rem;
    margin-right: 5px;
}
.favoritesContainer{
    width: 38px;
    height: 38px;
    border: 1px solid #FCD34D;
    text-align: center;
    padding: 5px;
}

#fav {
    color: #000000;
}

h3, h2, p{
    color:#FFE81F;
}

#planet-info {
    font-size: 20px;
}

.custom-height{
    width: 350px;
}